<section class="row-fluid home-fluid jumbotron" data-ng-controller="HomeController">
  <!-- <h2>Welcome to the photo campaign web platform</h2><br/> -->
  <h3 data-ng-hide="authentication.user.campaignObject">Recent posts on all campaigns</h3>
  <h3 data-ng-show="authentication.user.campaignObject">Recent posts for the logged in user's campaign</h3>
  <hr/>
  
  <section class="col-xs-12 col-sm-8 col-md-8 col-lg-8 home-list-view" data-ng-controller="PostsController" data-ng-init="find()">
    <div class="list-group home-list-item" data-ng-show="posts">
        <a data-ng-repeat="post in posts" data-ng-href="#!/posts/{{post._id}}" class="list-group-item a-post">
            <small class="list-group-item-text">
                {{post.created | date:'medium'}} / 
                <span data-ng-show="{{post.campaignObject.identifier}}">
                	<strong>CampaignID: {{post.campaignObject.identifier}}</strong>
                </span>
            </small><br/><br/>
            <h3 class="list-group-item-heading">{{post.title}}</h3><br/>
            <img data-ng-src="{{post.photoURL}}" alt="{{post.description}}"/><br/><br/>
            <p class="list-group-item-text">{{post.description}}</p>
            <h5>by <i>{{post.owner.firstName}} {{post.owner.lastName}}</i></h5>
            <span class="btn btn-primary view-details-button">
                View Details <i class="glyphicon glyphicon-edit"></i>
            </span>
        </a>
    </div>

		<section class="alert alert-info" data-ng-hide="posts">
			<small>There are no posts added for this user's campaign yet</small>
		</section>
	</section>
</section>