<section class="row-fluid" data-ng-controller="UsersController" data-ng-init="find()">
	<h3>User list</h3>
	<hr/>
	<div class="list-group">
	    <div data-ng-repeat="user in users" class="list-group-item">
	        <small class="list-group-item-text">Registered: {{user.created | date:'medium'}} / <strong>CampaignID: {{user.campaignObject.identifier}}</strong></small>
	        <br/><br/>
	        <h4 class="list-group-item-heading">{{user.firstName}} {{user.lastName}}</h4>
	        <p class="list-group-item-text"><a target="_blank" href="mailto:{{user.email}}">{{user.email}}</a></p>
	        <p class="list-group-item-text">{{user.bio}}</p>
	    </div>
	</div>
</section>