<section data-ng-controller="CampaignsController" data-ng-init="find()">
    <div class="page-header">
       <h1>
            Campaign
            <!--<a class="btn btn-success" href="/#!/campaigns/create" data-ng-show="campaigns">Add a new campaign</a>-->
        </h1>
    </div>
    <input type="text" class="form-control" ng-show="campaigns" ng-model="campaignsearch.$" placeholder="Search all campaigns...">
    <div class="list-group">
        <a data-ng-repeat="campaign in campaigns | filter:campaignsearch" data-ng-href="#!/campaigns/{{campaign._id}}" class="list-group-item">
            <span class="btn btn-primary pull-right">
                View Details <i class="glyphicon glyphicon-edit"></i>
            </span>

            <small class="list-group-item-text">
                Start: {{campaign.campaignStart | date:'yyyy-MM-dd'}}<br/>
                End: {{campaign.campaignEnd | date:'yyyy-MM-dd'}}<strong><br/>
                ID: {{campaign.identifier}}</strong><br/>
                DatabaseID: {{campaign._id}}<br/><br/>
            </small>
            <h4 class="list-group-item-heading">{{campaign.title}}</h4>
            <p class="list-group-item-text">{{campaign.description}}</p>
        </a>
    </div>
    <span class="alert alert-success" data-ng-hide="!campaigns || campaigns.length">
    	There is no campaign added yet. The first step in configuring the website is adding a campaign. <a href="/#!/campaigns/create">Add a new campaign</a>.
    </span>
</section>