<section data-ng-controller="CampaignsController" data-ng-init="findOne()">
	<h3>{{campaign.title}}</h3>
	<hr/>
	<h4>Rules</h4>
	<p>{{campaign.rules}}</p>
	<h4>Description</h4>
	<p>{{campaign.description}}</p>
	<h4>ID</h4>
	<p>{{campaign.identifier}}</p>
	<h4>Campaign period</h4>
	<p>{{campaign.campaignStart | date:'yyyy-MM-dd'}} - {{campaign.campaignEnd | date:'yyyy-MM-dd'}}</p>
	<hr/>
	<a href="/#!/campaigns/{{campaign._id}}/edit" class="btn btn-primary">Edit</a>
	<!-- delete commented out for beta version, fully working thought -->
	<a href="/#!/" class="btn btn-danger" data-ng-click="remove()">Delete</a>
</section>