<section class="individual-post" data-ng-controller="PostsController" data-ng-init="findOne()">
	<h3>{{post.title}} by <i>{{post.owner.firstName}} {{post.owner.lastName}}</i></h3>
	<hr/>
	<img data-ng-src="../{{post.photoURL}}" alt="{{post.description}}"/><br/><br/>
	<h4>Description</h4>
	<p>{{post.description}}</p>
	<h5>by <i>{{post.owner.firstName}} {{post.owner.lastName}}</i></h5>
	<h4>Created</h4>
	<p>{{post.created | date:'medium'}}</p>
	<h4 data-ng-show="{{post.campaignObject.identifier}}">Campaign</h4>
	<p data-ng-show="{{post.campaignObject.identifier}}">{{post.campaignObject.identifier}}</p>
	<hr/>
	<!-- delete is only shown if you are logged in. Delete should be shown only for the users that created the post and super - admin, right now any logged in user can delete (aka everybody is an admin)-->
	<a href="/#!/" class="btn btn-danger" data-ng-show="authentication.user" data-ng-click="remove()">Delete</a><br/><br/>
</section>