<section class="row-fluid" data-ng-controller="SettingsController">
	<h3>Edit your profile</h3>
	<hr/>
	<div class="col-xs-12 col-md-4">
		<form data-ng-submit="updateUserProfile()" class="form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="firstName">First Name</label>
					<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="First Name">
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Last Name">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="text" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="bio">Bio:</label>
					<textarea id="bio" name="bio" class="form-control" placeholder="Your bio" data-ng-model="user.bio"></textarea>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-large btn-success">Save Profile</button>
				</div>
				<div data-ng-show="success" class="text-success">
					<strong>Profile Saved Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong>{{error}}</strong>
				</div>
			</fieldset>
		</form>
	</div>

	<img class="col-md-offset-1 col-md-2" src="{{user.photoURL}}" alt="profilePhoto"/>
</section>